node_modules
npm-debug.log
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vagrant
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
.DS_Store
Thumbs.db
/storage/*.key
/public/hot
/public/storage
/storage/logs/*
!/storage/logs/.gitkeep
.phpunit.cache
